@import "/assets/styles/style.css";

.about-container {
   max-width: 80%;
   margin: auto;
}
/* /////HEADER///// */
.header-about {
   padding: 20rem 0 10rem;
   background-image: linear-gradient(180deg,rgba(21, 3, 23, 0.623) 0%,rgba(0, 0, 0, 0.37) 41%), url(/assets/img/roof-header-A.jpg) !important;

   /* background-image: linear-gradient(180deg,rgba(28, 11, 31, 0.822) 0%,rgba(0, 0, 0, 0.27) 20%), url(/assets/img/roof-header-A.jpg) !important; */
}

@media (max-width: 767px) {
   .header-about-tittle {
      font-size: 4rem !important;
      line-height: 4.8rem !important;
   }
   .header-about-description {
      line-height: 2.8rem;
   }
}

/* /////SECTION 1///// */
.about-section1 {
   background-color: var(--white);
   padding: 10rem 0 0;
}

.about-section1-elements {
   padding-top: 1.97%;
   margin: auto;
   display: flex;
}

.about-s1-description {
   margin-right: 5.5%;
   width: 47.25%;
}

.about-s1-tittle {
   margin-bottom: 5.82%;
   color: var(--dark-purple);
   font-weight: 700;
   text-transform: uppercase;
   font-size: 6rem;
   line-height: 7.2rem;
   text-align: left;
   word-wrap: break-word;
}

.about-s1-text {
   margin-bottom: 0;
   font-weight: 500;
   line-height: 2.7rem;
   color: var(--grey);
}

.about-s1-image {
   width: 47.25%;
   margin-right: 0;
   border-top: 1.5rem solid var(--marfil);
   border-left: 1.5rem solid var(--marfil);
   margin-bottom: 0;
}

@media (max-width: 767px) {
   .about-s1-description {
   }
   .about-s1-tittle {
      font-size: 4rem;
      line-height: 4.8rem;
   }
}

@media (max-width: 980px) {
   .about-section1-elements {
      flex-direction: column;
      padding-top: 3rem;
   }
   .about-section1-elements * {
      width: 100%;
   }
   .about-s1-description {
      margin-bottom: 3rem;
      margin-right: 0;
   }
   .about-s1-tittle {
      margin-bottom: 3rem;
   }
   .about-s1-image {
      background-color: var(--marfil);
   }
   .about-s1-image img {
      height: 100% !important;
   }
}


/* /////SECTION 2///// */
/* ///Element 1/// */
.about-section2 {
   background-color: var(--marfil);
   padding: 8rem 0 5.4rem;
}

.about-s2-element1 {
   display: flex;
   max-width: 80%;
   margin: 0 auto;
   justify-content: space-between;
}

.about-s2-e1-cards {
   width: 48.5%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
}

.card {
   background-color: var(--dark-purple);
   color: var(--white);
}

.card-img {
   width: 100%;
   height: auto;
   margin-bottom: 0;
}

.card-caption {
   text-align: center;
}

.card-name {
   padding: 0;
   font-weight: 600;
   font-size: 1.5rem;
   line-height: 1.2em;
}

.card-caption p {
   padding: 1rem 0 2.5rem;
   font-style: italic;
   font-size: 1rem;
}

.about-s2-e1-desription {
   width: 48.5%;
}

.about-s2-e1-text {
   margin-bottom: 0;
   color: var(--dark-purple);
   text-align: center;
   font-size: 1.8rem;
   line-height: 2.52rem;
   padding: 3.6rem 0;
   font-weight: 500;
}

@media (max-width: 980px) {
   .about-s2-element1 {
      flex-direction: column;
   }
   .about-s2-element1 * {
      width: 100%;
   }
   .about-s2-e1-cards {
      margin-bottom: 3rem;
   }
}
