@import "./style.css";

section.mlty-section1 div.mlty-section1-content {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

@media only screen and (max-width: 980px) {
    section.mlty-section1 div.mlty-section1-content {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;
    }
}

@media only screen and (max-width: 767px) {
    section.mlty-section1 div.mlty-section1-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 480px) {
    section.mlty-section1 div.mlty-section1-content {
        grid-template-columns: 1fr;
    }
}