@import "./style.css";

section.mlty-section1 div.mlty-section1-content {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

section.mlty-section1 div.mlty-section1-content .mlty-image-container {
    position: relative;
    width: 100%;
}

section.mlty-section1 div.mlty-section1-content .mlty-image-container a {
    position: relative;
    max-height: auto;
    width: 100%;
    object-fit: contain;
    display: block;
}

section.mlty-section1 div.mlty-section1-content .mlty-image-container :hover .mlty-img-overlay {
    opacity: 1;
    transition: all .5s; /*revisar transicion*/
}

section.mlty-section1 div.mlty-section1-content .mlty-image-container .mlty-img-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(287, 64%, 11%, 0.8);
}

section.mlty-section1 div.mlty-section1-content .mlty-image-container  a img {
    padding: 0; 
    margin: 0; 
    display: block;
}

section.mlty-section1 div.mlty-section1-content .mlty-image-container .mlty-img-overlay::before {
    content: url(/assets/icons/icons8-plus-30-1.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 980px) {
    section.mlty-section1 div.mlty-section1-content {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;
    }
}

@media only screen and (max-width: 767px) {
    section.mlty-section1 div.mlty-section1-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 480px) {
    section.mlty-section1 div.mlty-section1-content {
        grid-template-columns: 1fr;
    }
}