@import "/assets/styles/mainPage/header.css";
@import "/assets/styles/mainPage/section1.css";
@import "/assets/styles/mainPage/section2.css";
@import "/assets/styles/mainPage/section3.css";
@import "/assets/styles/mainPage/section4.css";
@import "/assets/styles/mainPage/trusted-partners.css";
@import "/assets/styles/mainPage/pre-footer.css";
@import "/assets/styles/mainPage/footer.css";
@import "others.css";
@import "about.css";
@import "testimonials.css";
@import "multifamily.css";
@import "commercial.css";
@import "projects.css";
@import "contact.css";

:root {
    --ocre: #b58b35;
    --white: #ffffff;
    --dark-purple: #2f0d31;
    --pale-silver: #bebcbf;
    --pale-ocre: #93753C;
    --marfil: #fff1d4;
    --light-purple: #451e49;
    --purple: #3C163F;
    --lavanda: #b160b6;
    --grey: #666666;
    --light-blue: #82c0c7;
    --black: #000000;
    --pale: #e5e5e5;
    --white-purple: #ece5dd;
}

/* Configuración general */
html {
    /* box-sizing: border-box; */
    font-size: 62.5%;  /* Establece el tamaño de fuente base en 10px */
}

*, *:before, *:after {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-purple) !important;
}

.body-main {
    background-color: var(--dark-purple);
}

div {
    animation-timing-function: linear;
    animation-duration: .2s;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

.container {
    max-width: 192rem;
    margin: 0 auto;
    /* border-right: 2px solid royalblue; */
}

img {
    max-width: 100%; /* Hace que la imagen no sea más ancha que su contenedor */
    height: auto; /* Mantiene la relación de aspecto original de la imagen */
}