@import "/assets/styles/mainPage/header.css";
@import "/assets/styles/mainPage/section1.css";
@import "/assets/styles/mainPage/section2.css";
@import "/assets/styles/mainPage/section3.css";
@import "/assets/styles/mainPage/section4.css";
@import "others.css";

:root {
    --ocre: #b58b35;
    --white: #ffffff;
    --dark-purple: #2f0d31;
    --pale-silver: #bebcbf;
    --pale-ocre: #93753C;
    --marfil: #fff1d4;
    --light-purple: #451e49;
    --purple: #3C163F;
    --lavanda: #b160b6;
    --grey: #666;
    --light-blue: #82c0c7;
    --black: #000000;
    --pale: #e5e5e5;
}

/* Configuración general */
html {
    /* box-sizing: border-box; */
    font-size: 62.5%;  /* Establece el tamaño de fuente base en 10px */
}

*, *:before, *:after {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-purple);
}

div {
    animation-timing-function: linear;
    animation-duration: .2s;
}

.container {
    max-width: 192rem;
    margin: 0 auto;
    border-right: 2px solid royalblue;
}