/* ****-------****** HEADER****-------****** */
@import "../style.css";

.header {
    position: relative;
    height: 66.7rem;
    width: 100%;
    background-image:url(/assets/img/roof-header-A.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    background-position: 50%;
    /* linear-gradient(180deg,rgba(47,13,49,0.49) 0%,rgba(47,13,49,0) 100%); */
}

@media (max-width: 767px) {
    .header {
        background-size: 250%;
        background-position: 50% 21%;
        height: 80rem;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
    .header {
        height: 97.2rem;
        background-position: 50.5%;
    }
}

/*** BACKGROUND ELEMENTS ***/
.header-topLine {
    background-color: var(--ocre);
    width: 100%;
    height: 0.8rem;
}

.header-filter {
    position: absolute;
    background-image: linear-gradient(180deg,rgba(39, 10, 43, 0.753) 0%,rgba(0, 0, 0, 0.527) 20%);
    width: 100%;
    height: 100%;
    z-index: -2;
    top: 0;
}

.header-right-bg {
    position: absolute;
    height: 100%;
    width: 56.6rem;
    right: 0;
    z-index: -1;
}

.right-bg-top {
    position: absolute;
    background-color: var(--dark-purple);
    height: 23rem;
    width: 31.5rem;
    right: 0;
}

.right-bg-bottom {
    position: absolute;
    background-color: var(--ocre);
    width: 100%;
    height: 44.4rem;
    bottom: 0;
}

@media (max-width: 767px) {
    .header-topLine {
        height: 7rem;
        position: relative;
        top: 0;
    }

    .right-bg-top {
        width: 21.5%;
        height: 47%;
    }
    .right-bg-bottom {
        width: 39.3%;
        right: 0;
        height: 54%;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
    .header-topLine {
        height: 0.7rem;
        position: relative;
        top: 0;
    }
    .right-bg-top {
        width: 33.5%;
        height: 33.1%;
    }
    .right-bg-bottom {
        width: 60.3%;
        right: 0;
        height: 66.9%;
    }
}

/*** NAVBAR ***/
.all-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14rem;
    padding: 2rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    margin-top: 2rem;
}

.logo  {
    padding-bottom: 2rem;
}

.logo img {
    height: 11rem;
    width: 18rem;
    margin-right: 3rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 2.2rem;    
}

.nav-link a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    font-size: 1.4rem;
}

.nav-link-active a {
    color: var(--ocre);
}

.nav-link-active a:hover {
    color: var(--pale-ocre) !important;
}

.nav-link a:hover {
    color: var(--pale-silver);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    align-items: center;
    margin-right: 0.6rem;

}

.bar {
    width: 20px;
    height: 2px;
    background-color: var(--white);
    margin: 2px 0;
    line-height: 0;
    border-radius: 2px;

}

@media (max-width: 980px) {
    .all-nav {
        flex-direction: column;
    }
    .navbar {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 0;
        padding-left: 0;
        padding-bottom: 1rem;
    }
    .logo {
        padding-bottom: 0;   
    }
    .menu-toggle {
        display: flex;
        transform: translateY(3%);
        justify-content: center;
    }
    .menu {
        display: none;
        align-items: center;
        background-color: var(--white);
        position: absolute;
        width: 100%;
        height: auto;
        top: 6.5rem;
        z-index: 1;
        left: 0;
        margin: 4rem 2rem;
        padding: 5%;
        border-top: 3px solid var(--ocre);
        box-shadow: 0 2px 5px rgba(0,0,0,.1);
    }
    .menu.active {
        display: flex;
    }
    .menu.active ul {
        flex-direction: column;
        width: 100%;
    }
    .nav-link {
        border-bottom: 1px solid rgba(0,0,0,.03);
        width: 100%;
    }
    .nav-link a {
        color: var(--dark-purple);
        font-size: 1.4rem;
        line-height: 2.6px;
        padding: 1rem 3.3rem;
    }
    .nav-link a:hover {
        color: var(--light-purple);
        opacity: .7;
    }
    .nav-link-active a {
        color: var(--ocre);
    }
}

/*** CONTACT ***/
.contact {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.redes a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    height: 3.2rem;
    width: 3.2rem;
    transition: 0.5s;
    text-decoration: none;
}

.redes a:hover {
    background-color: var(--ocre);
    border-radius: 2.5rem;
}

.contact-btn {
    display: inline-block;
    width: 13.6rem;
    height: 7.4rem;
    background-color: var(--white);
    border-radius: 25px;
    font-weight:500;
    text-align: center;
    padding: 10px 25px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-btn:hover {
    background-color: var(--ocre);
    color: var(--white);
}

.phone {
    background-color: var(--ocre);
    background-size: cover;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    align-items: center;
}

@media (max-width: 767px) {
    .contact {
        justify-content: space-around;
        position: absolute;
        top: -6rem;
        width: 100%;
    }
    .redes {
        flex-direction: row;
    }
    .redes a{
        background-color: var(--dark-purple);
        border-radius: 2.5rem;
    }
    .contact-btn {
        width: auto;
        height: auto;
    }
}
@media (min-width: 768px) and (max-width: 980px) {
    .contact {
        justify-content: end;
        width: 100%;
        height: 4.7rem;
    }
    .redes {
        flex-direction: row;
        margin-right: 0.1rem;
    }
    .redes a{
        background-color: var(--dark-purple);
        border-radius: 2.5rem;
    }
    .contact-btn {
        width: auto;
        height: 4.7rem;
        margin-right: 0.7rem;
    }
    .phone {
        margin-right: 2.3rem;
    }
}

/*** HEADER ELEMENTS ***/
.header-elements {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45rem;
    bottom: 0;
}

@media screen and (max-width: 980px) {
    .header-elements{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        bottom: auto;
        margin-top: 7.5rem;
        margin-left: 0.8rem;
    }
    .left-head-element {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .header-description {
        grid-column: -2 / -1;
        grid-row: 2 / 3;
    }

}

/* LEFT */
.left-head-element {
    padding-left: 6.7rem;
}

.left-head-element-title{
    color: var(--marfil);
    font-size: 6.8rem;
    font-weight: 500;
    line-height: 8.1rem;
    font-weight: 500;
}

.get-btn {
    margin-top: 3.2rem;
    background: none;
    border: 2px solid var(--marfil);
    color: var(--marfil);
    font-size: 16px;
    border-radius: 3.5rem;
    line-height: 2.7rem;
    padding: 1rem 3.2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

.get-btn:hover {
    background-color: var(--ocre);
    border: 2px solid var(--ocre);
}

@media screen and (max-width: 980px) {

    .left-head-element {
        padding-left: 3rem;
        margin-top: 2.7rem;
        width: 100%;
    }
    .left-head-element-title{
        display: inline;
        font-size: 8rem;
        line-height: 8rem;
    }
}

/* MIDLE */
.header-lion {
    position: absolute;
    width: 24.3rem;
    height: 42.5rem;
    left: 47.2%;
    bottom: -26px;
}

@media screen and (max-width: 980px) {
    .header-lion {
        width: 23.3rem;
        height: 40.7rem;
        bottom: -33.2rem;
        left: 0;
        margin-top: 20rem;
    }
}

/* RIGHT */
.header-description {
    display: flex;
    width: 47.5rem;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.3rem 5.1rem;
}

@media screen and (max-width: 980px) {
    .header-description {
        background-color: var(--ocre);
        justify-items: end;
        right: 0;
        width: 57rem;
        height: 23.6rem;
        justify-content: left;
        padding: 0 6.8rem;
        position: absolute;
        top: 4rem;
    }
    .header-description p {
        margin: 0;
        padding-right: 2rem !important;
    }
}

.header-description p {
    color: var(--dark-purple);
    font-size: 2.2rem;
    line-height: 3.08rem;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.30);
    text-transform: uppercase;
    font-weight: 400;
    padding-right: 1.3rem;
    margin: 2rem 0;
}

.head-explore-btn {
    background: var(--white);
    border: none;
    color: var(--dark-purple);
    font-size: 16px;
    border-radius: 25px;
    line-height: 2.7rem;
    padding: 1rem 3rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}