/* ****-------****** PRE FOOTER ****-------****** */
.pre-footer {
    position: relative;
    width: 100%;
}

.pre-footer .pre-footer-background {
    content: "";
    position: absolute;
    background-image: linear-gradient(
        45deg,rgba(177,96,182,0.8) 0%,
        rgba(177,96,182,0.37) 100%),
        url(../../img/kind-roof_insurance-footer.jpg) !important;
    background-position: 50% 50%;
    background-size: cover;
    color: #666666;
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.pre-footer .pre-footer-context {
    position: relative;
    z-index: 999;
    padding: 22.3rem 0;
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    align-items: stretch;
    max-width: 1200px;
}

.logo-pre-footer-container {
    width: 18%;
}

.pre-footer .pre-footer-context .logo-pre-footer-container {
    position: relative;
    max-width: 180px !important;
    max-height: 180px !important;
    height: 180px;
}

.pre-footer .pre-footer-context .logo-pre-footer {
    background-image: url('../../logos/icon-footer.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
}

.pre-footer .pre-footer-context .pre-footer-title {
    font-size: 4rem;
    line-height: 6.7rem;
    color: var(--marfil);
    -webkit-text-size-adjust: 100%;
    width: 35%;
    margin-right: 10rem;
    padding-left: 2rem;
}

.pre-footer .pre-footer-context .pre-footer-description {
    width: 45%;
}

.pre-footer .pre-footer-context .pre-footer-description h6 {
    color: var(--marfil);
    font-size: 1.6rem;
    line-height: 2.65rem;
    font-weight: 500;
    margin-bottom: -1rem;
}

@media only screen and (max-width: 767px) {
    .pre-footer .pre-footer-context .pre-footer-title {
        font-size: 2.3rem;
        line-height: 4rem;
    }

    .pre-footer .pre-footer-context {
        padding: 9rem 0 !important;
    }
}

@media only screen and (max-width: 980px) {
    .pre-footer .pre-footer-context {
        display: block;
        padding: 12rem 0;
    }

    .pre-footer .pre-footer-context .logo-pre-footer {
        height: 100px;
    }

    .pre-footer .pre-footer-context .logo-pre-footer-container {
        height: 50px;
    }

    .pre-footer .pre-footer-context .pre-footer-title {
        font-size: 2.8rem;
        line-height: 4rem;
        padding: 3rem 0;
        width: 100%;
    }

    .pre-footer .pre-footer-context .pre-footer-description {
        width: 100%;
    }
}

