@import "../style.css";

/* ****-------****** SECTION 3****-------****** */
.section3 {
    background-color: var(--dark-purple);
    display: flex;
    padding: 2.7rem 0 8rem;
    width: 80%;
}
.s3-explore {
    display: flex;
    flex-direction: column;
    width: 38.2%;
    margin-right: 3%;
}

.explore-title {
    color: var(--marfil);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 5.4rem;
    text-align: left;
    text-transform: uppercase;
}

.s3-explore a {
    margin-top: 1.28rem;
}

.s3-explore a button {
    width: 19.5rem;
    height: 5.1rem;
    background: none;
    border: 2px solid var(--marfil);
    color: var(--marfil);
    font-size: 16px;
    border-radius: 25px;
    line-height: 2.7rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    display: inline-block;
    animation-duration: .2s;
}

.s3-explore button:hover {
    background-color: var(--ocre);
    border: 2px solid var(--ocre);
}

.s3-explore-img {
    width: 100%;
}

.s3-explore-img img {
    max-width: 100%;
    height: auto;
}

.s3-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 58.8%;;
}
.explore-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    align-content: center;
    transition: height .2s ease-in-out;
}

.explore-img img {
    width: 100%;
    height: 100%;
}

.explore-img > div {
    position: relative;
}

.s3-img-overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: hsla(0,0%,100%,.9);
    pointer-events: none;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.explore-img > div:hover .s3-img-overlay {
    z-index: 3;
    opacity: 1;
    transition: all .5s; /*revisar transicion*/
}

.s3-img-overlay::before {
    content: url(/assets/icons/icons8-plus-30.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}
.s3-explore-pages {
    border-top: 2px solid var(--marfil);
    margin-top: 3.3rem;
    text-align: end;
    padding: 1rem;
}

.s3-explore-pages  span {
    color: var(--grey);
    font-weight: 500;
    line-height: 1.6rem;
    padding-left: 2rem;
    cursor: pointer;
}

.s3-explore-pages .active {
    color: var(--light-blue);
}

.s3-hover:hover {
    background: hsla(0,0%,100%,.9);
    z-index: 1;
}

@media (max-width: 980px) {
    .section3 {
        flex-direction: column;
    }
    .s3-explore {
        width: 100% !important;
        align-items: center;
    }
    .explore-title {
        align-self: flex-start;
        font-size: 3.5rem !important;
        margin-bottom: 0;
    }
    .s3-explore a {
        margin-top: 0;
    }
    .s3-explore a button {
        margin-top: 2.8rem;
    }
    .s3-explore-img {
        text-align: center;
    }
    .s3-images {
        width: 100%;
        padding-top: 18rem;
    }
    
}

@media all and (max-width: 318px) {
    .explore-img {
        display: flex;
        flex-direction: column;
        row-gap: 2.2rem;
    }
    .s3-explore-pages {
        margin-top: 2.3rem;
        border-top: 1px solid var(--marfil);
    }
}
@media (min-width: 768px) and (max-width: 980px) {
    .explore-img {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2.5rem;
    }
}