/* ****-------****** SECTION 3****-------****** */
.section3 {
    background-color: var(--dark-purple);
    display: flex;
    padding: 20.6rem 13.5rem 8rem;

}

.s3-explore {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 2.7rem;
}

.explore-title {
    color: var(--marfil);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 5.4rem;
    text-align: left;
    text-transform: uppercase;
}

.s3-explore button {
    width: 19.5rem;
    height: 5.1rem;
    margin-top: 3.2rem;
    background: none;
    border: 2px solid var(--marfil);
    color: var(--marfil);
    font-size: 16px;
    border-radius: 25px;
    line-height: 2.7rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    display: inline-block;
}

.s3-explore button:hover {
    background-color: var(--ocre);
    border: 2px solid var(--ocre);
}

.s3-explore img {
    width: 41.2rem;
}

.s3-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3.2rem;


}
.explore-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
}

.explore-img img {
    width: 100%;
}

.s3-explore-pages {
    border-top: 2px solid var(--marfil);
    margin-top: 3.3rem;
    text-align: end;
    padding: 1rem;
}

.s3-explore-pages  span {
    color: var(--grey);
    font-weight: 500;
    line-height: 1.6rem;
    padding-left: 2rem;
    cursor: pointer;
}

.s3-explore-pages .active {
    color: var(--light-blue);
}

.s3-hover:hover {
    background: hsla(0,0%,100%,.9);
    z-index: 1;
}
