/* ****-------****** SECTION 2****-------****** */
.section2 {
    background-image: url(/assets/img/bg-sky-1.jpg);
    padding: 15rem 0 22rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.s2-lazo {
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin-top: -150px;
    position: relative;
}
.s2-lazo .lazo {
    max-width: 100%;
}

.coreValues {
    padding: 2.7rem auto;
    color: var(--dark-purple);
    word-wrap: break-word;
}

.s2-title {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 5.4rem;
    text-align: center;
    text-transform: uppercase;
}

.s2-description {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    padding: 3.6rem 20%;
}

.coreValues-icons {
    display: flex;
    padding: 2.7rem 14% 0;
    justify-content: space-between;
}

.coreValues-icons div{
    display: flex;
    flex-direction: column;
}

.coreValues-icons span {
    color: var(--ocre);
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2.6rem;
}


@media all and (max-width: 318px) {
    .coreValues-icons {
        display: flex !important;
        flex-direction: column;
        row-gap: 3rem !important;
    }
    .coreValues-icons>div {
        align-items: center;
    }
    .coreValues-icons span {
        margin-top: 2.2rem;
    }
}
@media (max-width: 980px) {
    .coreValues {
        padding: 3rem 30%;        
    }
    .s2-title {
        font-size: 3.5rem;
        line-height: 4.3rem;
    }
    .s2-description {
        padding: 3rem 0;
    }
    .coreValues-icons {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        padding: 0 21%;
        row-gap: 2rem;
    }
}

@media (max-width: 767px) {
    .section2 {
        padding: 5rem 0 25rem;
    }
    .coreValues {
        padding: 3rem 15%;        
    }
    .coreValues-icons {
        padding: 3rem 15%; 
    }
}